body
{
   background-image:url("../images/bg1.jpg");
    
   
}
h1{
    color:papayawhip;
    border:3px solid darkgray;
    width:300px;
    height:250px;
    text-align:center;
    margin:130px auto;
    padding: 40px;
    position:center;
    border-radius: 5px
}
.login input[type = "text"],.login input[type = "password"]
{
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid    aqua;
    padding: 9px 20px;
  width: 200px;
  border-radius: 25px;
  transition: 0.20s;
  cursor: pointer;
}
.login input[type = "text"]:focus,.login input[type = "password"]:focus
{
  width: 280px;
  border-color: #0B53F7;
   background: #0B53F7;
}
.login input[type = "submit"],.login input[type = "reset"]{
  
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 20px;
  
  border-radius: 20px;
  transition: 0.25s;
  cursor: pointer;
}
.login input[type = "submit"]:hover,.login input[type = "reset"]:hover,.login input[type = "submit"]:focus,.login input[type = "reset"]:focus
{
    background: #0B53F7;
}
  