
<!DOCTYPE html>

{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
     
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href={% static "images/icons.png" %}/>
     <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static "css/style1.css" %}/>
  </head>
  <body>
    <nav class ='navbar navbar-default navbar-static-top'>
      <div class="container">
        <ul class="nav navbar-nav">
           {% if user.is_authenticated %}
          <li><a class="navbar-brand" href="{% url 'index' %}"> Logged in as {{ user.username }} </a></li>
          {% else %}
          <li><a class="navbar-brand" href="{% url 'index' %}">Please Login ! </a></li>
           {% endif %}
          <li><a class="navbar-link" href="{% url 'admin:index' %}"> Admin </a></li>
          <li><a class="navbar-link" href="{% url 'register' %}"> Register </a></li>

          {% if user.is_authenticated %}
            <li><a class="navbar-link" href="{% url 'logout' %}">Logout!</a></li>

          {% endif %}

        </ul>
      </div>
    </nav>

    <div class="containered">
      {% block body_block %}
      {% endblock %}
    </div>

  </body>
</html>
