{% extends "base.html" %}
{% block body_block %}

{% if user.is_authenticated %}
<div color="#FEFEFE" style="font-family: 'Gloria Hallelujah', cursive;"  >

    <h1 align="center">Please Fill Your Responses: </h1>
   <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% else %}
  <div class="containered">
<form action="{% url 'user_login' %}" class="login" method="post" >
    {% csrf_token %}
    <h1 id="k">Login<br>
     <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password" >
    <input type="submit" value="Login">
    <input type="reset" value="Reset">
    </h1>
</form>
  </div>
{% endif %}
{% endblock %}
