<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Ratings</title>
  </head>
  <body>
    <h1 align="center">Please Fill Your Responses: </h1>
    {% if QUESTIONS %}
      <table bgcolor="aqua" border="2px solid black" 
        align="center" height="500px" width="500px">
         <thead>
          <th>Questions:</th>
          <th>Ratings</th>
         </thead>
      
        {% for user in QUESTIONS %}       
                 <tr>
                <td>{{ user.question_text }}</td>
                <td align="center">{{ user.ratings }}</td>
                     </tr>

      {% endfor %}
      </table>
        {% endif %}

  </body>
</html>
